* {
    margin: 0px;
    padding: 0px;
    font-family: 'Special Elite', cursive;
    font-size: 13pt;
}

body {
    display: grid;
    grid-template-areas: "left right"
    "underOne underOne"
    "underTwo underTwo";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 3fr 2fr 1fr;
    height: 100%;
    width: 100%;
    background-image: url('https://mugenmonkey.com/assets/_mainbg3-abbf6d54e1a10049fe1c2a90ac57f987040e2cbfd5a345be1b370727c367c135.png');
}

#armor {grid-area: right;}
#stats {grid-area: left;}
#rings {grid-area: underTwo;}
#weapons {grid-area: underOne;}

#stats, #weapons, #rings, #armor {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 3px black ridge;
}

#stats > div:not(:last-child),
#weapons > div:first-child,
#armor > div:nth-child(1),
#armor > div:nth-child(2) {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 2px dashed black;
}

#armor > div:nth-child(odd),
#rings > div:not(:last-child),
#weapons > div > div:nth-child(odd) {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 2px dashed black;
}

#armor > div > p,
#rings > div > p,
#weapons > div > div > p,
#stats > div > p {
    text-align: center;
    color: white;
    font-weight: bolder;
}

#armor > div > p,
#weapons > div > div > p,
#rings > div > p,
#stats > div > p {
    font-size: 16pt;
}

#stats > div > p {
    font-size: 13pt;
}

#armor > div > p:first-child,
#rings > div > p:first-child,
#weapons > div > div > p:first-child,
#stats > div > p:first-child {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#stats > div > p:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

#stats {
    display: grid;
    grid-template-areas: 
    "vit"
    "att"
    "end"
    "str"
    "dex"
    "res"
    "int"
    "fth";
    grid-template-rows: repeat(8, 1fr);
}

#stats > div {
    display: grid;
    grid-template-areas: "statName statValue";
    grid-template-columns: 1fr 1fr;
}

#STAT_VIT {grid-area: vit;}
#STAT_ATT {grid-area: att;}
#STAT_END {grid-area: end;}
#STAT_STR {grid-area: str;}
#STAT_DEX {grid-area: dex;}
#STAT_RES {grid-area: res;}
#STAT_INT {grid-area: int;}
#STAT_FTH {grid-area: fth;}

#stats > div > p:first-child {
    grid-area: statName;
}

#stats > div > p:last-child {
    grid-area: statValue;
}

#weapons {
    display:grid;
    grid-template-areas: "rightHand"
    "leftHand";
    grid-template-rows: 1fr 1fr;
}

#weapons > #RIGHT_HAND,
#weapons > #LEFT_HAND {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "label value";
}

#weapons > #RIGHT_HAND {grid-area: rightHand;}
#weapons > #LEFT_HAND {grid-area: leftHand;}

#RIGHT_HAND > div#RIGHT_ONE:first-child,
#LEFT_HAND > div#LEFT_ONE:first-child,
#RIGHT_HAND > div#RIGHT_TWO:first-child,
#LEFT_HAND > div#LEFT_TWO:first-child {
    grid-area: label;
    text-transform: uppercase;
}
#RIGHT_HAND > div#RIGHT_ONE:last-child,
#LEFT_HAND > div#LEFT_ONE:last-child,
#RIGHT_HAND > div#RIGHT_TWO:last-child,
#LEFT_HAND > div#LEFT_TWO:last-child {
    grid-area: value;
    text-transform: capitalize;
}

#RIGHT_HAND > div#RIGHT_ONE:first-child,
#RIGHT_HAND > div#RIGHT_ONE:last-child,
#LEFT_HAND > div#LEFT_ONE:first-child,
#LEFT_HAND > div#LEFT_ONE:last-child,
#RIGHT_HAND > div#RIGHT_TWO:first-child,
#RIGHT_HAND > div#RIGHT_TWO:last-child,
#LEFT_HAND > div#LEFT_TWO:first-child,
#LEFT_HAND > div#LEFT_TWO:last-child {
    display: grid;
    grid-template-areas: "label""value";
    grid-template-rows: 1fr 1fr;
}

div#RIGHT_ONE > p:first-child,
div#LEFT_ONE > p:first-child,
div#RIGHT_TWO > p:first-child,
div#LEFT_TWO > p:first-child {
    grid-area: label;
    text-align: center;
}
#RIGHT_HAND > div#RIGHT_ONE > p:last-child,
#LEFT_HAND > div#LEFT_ONE > p:last-child,
#RIGHT_HAND > div#RIGHT_TWO > p:last-child,
#LEFT_HAND > div#LEFT_TWO > p:last-child {
    grid-area: value;
    text-transform: capitalize;
}

#rings {
    display: grid;
    grid-template-areas: "ringOne ringTwo";
    grid-template-columns: 1fr 1fr;
}

#RING_ONE,
#RING_TWO {
    display: grid;
    grid-template-areas: "label""value";
    grid-template-rows: 1fr 1fr;
}

#RING_ONE {grid-area: ringOne;}
#RING_TWO {grid-area: ringTwo;}

#RING_ONE > p:first-child,
#RING_TWO > p:first-child{
    grid-area: label;
    text-transform: capitalize;
    text-align: center;
}
#RING_ONE > p:last-child,
#RING_TWO > p:last-child{
    grid-area: value;
}

#armor {
    display: grid;
    grid-template-areas: "HEAD CHEST"
    "GLOVES LEGS";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#armor > #HEAD {grid-area: HEAD;}
#armor > #CHEST {grid-area: CHEST;}
#armor > #GLOVES {grid-area: GLOVES;}
#armor > #LEGS {grid-area: LEGS;}

#armor > div {
    display: grid;
    grid-template-areas: "label" "value";
    grid-template-rows: 1fr 1fr;
}

#armor > div > p:first-child {
    grid-area: label;
    text-transform: uppercase;
}

#armor > div > p:last-child {
    grid-area: value;
}